[Unit]
Description=Cloudreve
Documentation=https://docs.cloudreve.org
After=network.target
After=mysqld.service
Wants=network.target

[Service]
User=cloudreve
Group=cloudreve
WorkingDirectory=/var/lib/cloudreve
ExecStart=/usr/bin/cloudreve
Restart=on-abnormal
RestartSec=5s
KillMode=mixed
StandardOutput=null

[Install]
WantedBy=multi-user.target
